<footer>


    <div class="main_footer">






    </div>


    <section>


        <div class="" class="footer_bottom">


            <h3>
                საქართველოს საპატრიარქო &copy; 2021 ყველა უფლება დაცულია
            </h3>

            <div>

                <a><img src="../../assets/facebook.svg" alt=""></a>
                <a> <img src="../../assets/x.svg" alt=""></a>
                <a><img src="../../assets/youtube.svg" alt=""></a>
            </div>

        </div>

    </section>

</footer>